## Import all needed libraries

In [10]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit-learn-1.2.2.tar.gz (7.3 MB)
     ---------------------------------------- 7.3/7.3 MB 2.6 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  × pip subprocess to install build dependencies did not run successfully.
  │ exit code: 1
  ╰─> [20 lines of output]
      Ignoring numpy: markers 'python_version == "3.10" and platform_system == "Windows" and platform_python_implementation != "PyPy"' don't match your environment
      Collecting setuptools
        Downloading setuptools-67.7.2-py3-none-any.whl (1.1 MB)
           ---------------------------------------- 1.1/1.1 MB 1.7 MB/s eta 0:00:00
      Collecting wheel
        Downloading wheel-0.40.0-py3-none-any.whl (64 kB)
           ---------------------------------------- 64.5/64.5 kB ? eta 0:00:00
      Collecting Cython>=0.29.24
        Downloading Cython-0.29.34-py2.py3-none-any.whl (988 kB)
           -------------------------------------- 988.1/988.1 kB 5.2 MB/s eta 0:00:00
      Collecting oldest-supported-numpy
        Downloading oldest_supported_numpy-2022.11.19-py3-none-any.whl (4.9 kB)
      Collecting scipy>=1.3.2
        Downloading scipy-1.10.1.tar.gz (42.4 MB)
           ---------------------------------------- 42.4/42.4 MB 2.2 MB/s eta 0:00:00
        Installing build dependencies: started
        ERROR: Error [WinError 225] Operation did not complete successfully because the file contains a virus or potentially unwanted software while executing command pip subprocess to install build dependencies
        Installing build dependencies: finished with status 'error'
      ERROR: Could not install packages due to an OSError: [WinError 225] Operation did not complete successfully because the file contains a virus or potentially unwanted software

      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× pip subprocess to install build dependencies did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Read Data

In [20]:
data=pd.read_csv('./data/train.csv',header=0)
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

### Mencari Informasi terkait variable yang ada di data.
- Nama Kolom
- Tipe Data

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35973 non-null  int64
 1   DC024   35973 non-null  int64
 2   DC025   35973 non-null  int64
 3   DC205   35962 non-null  float64
 4   DC206   35952 non-null  float64
 5   DC207   35929 non-null  float64
 6   DC208   35960 non-null  float64
 7   DC209   35955 non-null  float64
 8   DC210   35932 non-null  float64
 9   DC211   35949 non-null  float64
 10  DC212   35949 non-null  float64
 11  DC213   35896 non-null  float64
 12  DC214   35964 non-null  float64
 13  DC215   35959 non-null  float64
 14  DC216   35934 non-null  float64
 15  DC217   35973 non-null  int64
 16  DC219   35973 non-null  int64
 17  DC220   35969 non-null  float64
 18  DC226   35967 non-null  float64
 19  DC230a  35962 non-null  float64
 20  DC230b  32964 non-null  float64
 21  DC232   32949 non-null  float64
 22  DC232b  32949 non-null  float64
 23  DC235   25527 non-null  float64
 24  DC237   35952 non-null  float64
 25  DC237a  35936 non-null  float64
 26  DC237b  35936 non-null  float64
 27  DC237c  35936 non-null  float64
 28  DC237d  35936 non-null  float64
 29  DC237e  35936 non-null  float64
 30  DC237f  35936 non-null  float64
 31  DC241   35361 non-null  float64
 32  DC242   30599 non-null  float64
 33  DC244   35969 non-null  float64
 34  DC246   35964 non-null  float64
 35  DC252   35959 non-null  float64
 36  DC270a  35973 non-null  int64
 37  DC109   35962 non-null  float64
 38  DC142a  35921 non-null  float64
 39  DC201   35970 non-null  object
dtypes: float64(33), int64(6), object(1)
memory usage: 11.0+ MB

In [22]:
data=data.drop('id',axis=1)
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

### Memeriksa informasi basic dari tiap variable yang ada di dalam data.

In [23]:
data.describe().transpose()

          count       mean        std   min   25%   50%   75%    max
DC024   35973.0  43.229088  23.585684  11.0  31.0  35.0  64.0   94.0
DC025   35973.0   1.468601   0.499020   1.0   1.0   1.0   2.0    2.0
DC205   35962.0  14.986736   6.061058  12.0  12.0  12.0  16.0   96.0
DC206   35952.0   0.960086   0.195761   0.0   1.0   1.0   1.0    1.0
DC207   35929.0   0.189234   0.391700   0.0   0.0   0.0   0.0    1.0
DC208   35960.0   0.846858   0.360130   0.0   1.0   1.0   1.0    1.0
DC209   35955.0   0.569434   0.495162   0.0   0.0   1.0   1.0    1.0
DC210   35932.0   0.326700   0.469013   0.0   0.0   0.0   1.0    1.0
DC211   35949.0   0.758547   0.427970   0.0   1.0   1.0   1.0    1.0
DC212   35949.0   0.132605   0.339152   0.0   0.0   0.0   0.0    1.0
DC213   35896.0  31.213729   6.339326  11.0  33.0  33.0  35.0   96.0
DC214   35964.0  34.142281   4.322654  12.0  35.0  35.0  35.0   96.0
DC215   35959.0  31.584137   3.110804  12.0  31.0  31.0  33.0   96.0
DC216   35934.0   2.323732   1.105251   0.0   2.0   2.0   3.0   20.0
DC217   35973.0   3.004976   1.149772   0.0   2.0   4.0   4.0    5.0
DC219   35973.0   1.156117   0.362971   1.0   1.0   1.0   1.0    2.0
DC220   35969.0  48.475660  13.713263  13.0  38.0  48.0  58.0   98.0
DC226   35967.0   5.312481  11.973412   1.0   2.0   2.0   8.0   95.0
DC230a  35962.0   1.298315   0.690939   1.0   1.0   1.0   1.0    5.0
DC230b  32964.0   0.975792   0.153697   0.0   1.0   1.0   1.0    1.0
DC232   32949.0   0.932987   0.250048   0.0   1.0   1.0   1.0    1.0
DC232b  32949.0   0.006161   0.078251   0.0   0.0   0.0   0.0    1.0
DC235   25527.0   2.013006   0.822909   1.0   1.0   2.0   3.0    3.0
DC237   35952.0   0.687500   0.486474   0.0   0.0   1.0   1.0    8.0
DC237a  35936.0   0.666045   0.494219   0.0   0.0   1.0   1.0    8.0
DC237b  35936.0   0.008626   0.174268   0.0   0.0   0.0   0.0    8.0
DC237c  35936.0   0.073687   0.300126   0.0   0.0   0.0   0.0    8.0
DC237d  35936.0   0.019896   0.203269   0.0   0.0   0.0   0.0    8.0
DC237e  35936.0   0.003451   0.158921   0.0   0.0   0.0   0.0    8.0
DC237f  35936.0   0.198687   0.425478   0.0   0.0   0.0   0.0    8.0
DC241   35361.0   1.167303   0.457907   1.0   1.0   1.0   1.0    6.0
DC242   30599.0   0.826922   0.378320   0.0   1.0   1.0   1.0    1.0
DC244   35969.0   0.366288   0.481796   0.0   0.0   0.0   1.0    1.0
DC246   35964.0   0.379574   0.485288   0.0   0.0   0.0   1.0    1.0
DC252   35959.0   1.207014   1.228101   0.0   0.0   1.0   1.0    4.0
DC270a  35973.0   2.699330   1.435673   1.0   1.0   3.0   4.0    5.0
DC109   35962.0  15.498637   9.598043  11.0  11.0  11.0  12.0   96.0
DC142a  35921.0  82.668216  91.194377   0.0  42.0  63.0  96.0  998.0

In [24]:
# Check Nan/Null Value and then store it in list of tuple
null=data.isnull().sum().to_dict()
null_column=[(key,value) for key,value in null.items() if value>0]

### Ditemukan beberapa data null di beberapa kolom, maka harus ditinjau terlebih dauhulu.
- Pada atribut DC235, data null hampir sejumlah 1/3 data, maka harus diisi dengan nilai lain
- Pada atribut DC230b-DC232b sejumlah 1/10, lebih baik diisi dengan nilai lain
- Teknik dalam mengisi data adalah :[Mengisi dengan mean, mengisi dengan median, mengisi dengan modus, atau diisi dengan default value]

In [25]:
data['DC201'].value_counts()

DC201
Layak Minum          32398
Tidak Layak Minum     3572
Name: count, dtype: int64

In [27]:
data['DC235'].value_counts()

DC235
3.0    8811
1.0    8479
2.0    8237
Name: count, dtype: int64

### Transformasi data label menjadi numeris

In [28]:
data['DC201']=data['DC201'].apply(lambda x: 0 if x=='Layak Minum' else 1)
data['DC201'].value_counts()

DC201
0    32398
1     3575
Name: count, dtype: int64

### Membuat fungsi untuk mengisi data yang kosong disetiap kolom menggunakan mean/median/modus tiap kolom

In [29]:
def fillData(data:pd.Series,method:str):
    if method=='mean':
        mean=data.mean()
        data=data.fillna(mean)
    elif method=='median':
        median=data.median()
        data.fillna(median)
    else:
        mode=data.mode()[0]
        data.fillna(mode,inplace=True)
    return data

### Test memberi nilai pada data kolom yang kosong

In [30]:
import random
random.seed(42)

# Get random index
rand_idx=random.randint(0,len(null_column))

# Get column and jumlah null
column,null=null_column[rand_idx]
method='mode'
# apply function to null column
temp_data=fillData(data=data[column],method=method)
print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {temp_data.isnull().sum()}\n')

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

### Isi semua data null yang ada di dataset dengan metode yang diinginkan

In [31]:
# Iterasi column yang memiliki null value
method='mode'
for item in null_column:
    column,null=item
    # apply function to null column
    data[column]=fillData(data=data[column],method=method)
    print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {data[column].isnull().sum()}\n')

Null column DC205 before filling : 11
Null column DC205 after filling  mode : 0

Null column DC206 before filling : 21
Null column DC206 after filling  mode : 0

Null column DC207 before filling : 44
Null column DC207 after filling  mode : 0

Null column DC208 before filling : 13
Null column DC208 after filling  mode : 0

Null column DC209 before filling : 18
Null column DC209 after filling  mode : 0

Null column DC210 before filling : 41
Null column DC210 after filling  mode : 0

Null column DC211 before filling : 24
Null column DC211 after filling  mode : 0

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

Null column DC213 before filling : 77
Null column DC213 after filling  mode : 0

Null column DC214 before filling : 9
Null column DC214 after filling  mode : 0

Null column DC215 before filling : 14
Null column DC215 after filling  mode : 0

Null column DC216 before filling : 39
Null column DC216 after filling  mode : 0

Null column DC220 before filling : 4
Null column DC220 after filling  mode : 0

Null column DC226 before filling : 6
Null column DC226 after filling  mode : 0

Null column DC230a before filling : 11
Null column DC230a after filling  mode : 0

Null column DC230b before filling : 3009
Null column DC230b after filling  mode : 0

Null column DC232 before filling : 3024
Null column DC232 after filling  mode : 0

Null column DC232b before filling : 3024
Null column DC232b after filling  mode : 0

Null column DC235 before filling : 10446
Null column DC235 after filling  mode : 0

Null column DC237 before filling : 21
Null column DC237 after filling  mode : 0

Null column DC237a before filling : 37
Null column DC237a after filling  mode : 0

Null column DC237b before filling : 37
Null column DC237b after filling  mode : 0

Null column DC237c before filling : 37
Null column DC237c after filling  mode : 0

Null column DC237d before filling : 37
Null column DC237d after filling  mode : 0

Null column DC237e before filling : 37
Null column DC237e after filling  mode : 0

Null column DC237f before filling : 37
Null column DC237f after filling  mode : 0

Null column DC241 before filling : 612
Null column DC241 after filling  mode : 0

Null column DC242 before filling : 5374
Null column DC242 after filling  mode : 0

Null column DC244 before filling : 4
Null column DC244 after filling  mode : 0

Null column DC246 before filling : 9
Null column DC246 after filling  mode : 0

Null column DC252 before filling : 14
Null column DC252 after filling  mode : 0

Null column DC109 before filling : 11
Null column DC109 after filling  mode : 0

Null column DC142a before filling : 52
Null column DC142a after filling  mode : 0

Null column DC201 before filling : 3
Null column DC201 after filling  mode : 0

In [32]:
data.isnull().sum()

DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
DC201     0
dtype: int64

### Setelah semua data ditransformasi menjadi numeris dan diisi, maka tahap selanjutnya adalah melakukan scalling agar range data menjadi lebih kecil. Beberapa teknik scalling:
- Min-Max Scalling
- Z-Score Scalling
- Standar Scaller

### Karena data tidak imbang, maka perlu dilakukan data balancing. Terdapat beberapa metode dalam balancing data menggunakan SMOTE.
- Untuk melakukan oversampling terhadap dataset yang imbalance. 
- Mmebuat label menjadi sama banyak
- Karena menggunakan oversampling, makadataset akan menjadi 2x lipat

In [33]:
from imblearn.over_sampling import SMOTE

# Initialize smote
oversampling=SMOTE()

# fit the X,y dataset
X,y=oversampling.fit_resample(data.drop('DC201',axis=1),data['DC201'])
X.shape,y.shape

((64796, 38), (64796,))

In [34]:
y.value_counts()

DC201
0    32398
1    32398
Name: count, dtype: int64

### Data setelah oversampling

In [35]:
data=X
data['DC201']=y
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11,2,16.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,1.0,0.000000,0.000000,0.000000,2.000000,1,12.000000,60.000000,0
1,11,2,31.0,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,2,31.000000,70.000000,0
2,11,2,12.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.0,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,4,11.000000,75.000000,0
3,11,2,12.0,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,...,0.000000,2.0,1.000000,1.000000,0.000000,1.000000,1,11.000000,85.000000,0
4,11,2,12.0,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,...,0.000000,1.0,0.000000,0.000000,1.000000,0.000000,2,11.000000,65.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,33,2,12.0,1.000000,0.334627,1.000000,0.665373,0.000000,1.000000,0.0,...,0.665373,1.0,1.000000,1.000000,0.334627,1.000000,3,11.000000,133.338509,1
64792,14,2,12.0,1.000000,0.000000,1.000000,0.000000,0.999670,1.000000,0.0,...,0.999670,1.0,1.000000,1.000000,1.000000,1.000000,2,11.000000,71.999340,1
64793,77,2,31.0,1.000000,0.747717,0.000000,0.000000,0.252283,0.000000,0.0,...,0.747717,1.0,0.747717,1.000000,1.000000,0.252283,1,31.252283,25.513698,1
64794,12,2,21.0,0.184086,0.000000,0.184086,0.000000,0.000000,0.000000,0.0,...,0.000000,1.0,1.000000,0.815914,0.000000,1.000000,1,41.000000,64.288604,1
64795,64,2,31.0,0.144417,0.000000,0.000000,0.000000,0.855583,0.144417,0.0,...,0.144417,1.0,0.855583,0.855583,1.000000,1.000000,1,51.000000,24.866504,1

### Mencari korelasi setiap atribut dataset dengan atribut label. Menyeleksi fitur yang sangat memiliki korelasi dengan label, dengan memilih atribut yang memiliki korelasi >0 dengan label

In [45]:
corr=data.corr()
cor_target = (corr["DC201"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.1]
selected=relevant_features.keys()
relevant_features

DC025     0.339275
DC205     0.347428
DC230a    0.208863
DC237     0.368946
DC237a    0.354159
DC237f    0.167891
DC241     0.144538
DC244     0.299350
DC246     0.270900
DC109     0.350140
DC201     1.000000
Name: DC201, dtype: float64

### Save data after preprocessing

In [38]:
data.to_csv('./data/clean.csv')

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data.drop('DC201',axis=1),data['DC201'],test_size=0.2)

ModuleNotFoundError: No module named 'sklearn'