In [1]:
import pandas as pd
import xgboost as xgb

In [2]:
loaded_model = xgb.XGBClassifier()
loaded_model.load_model("./xgboost_model_7.json")
loaded_model

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.5, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None,
              feature_types=['float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float...
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=300, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [14]:
loaded_model = xgb.XGBClassifier()
loaded_model.load_model("./xgboost_model_6.json")
loaded_model

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None,
              feature_types=['float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float...
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=6, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=300, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [15]:
data=pd.read_csv('./test_selected_scaled.csv',header=0).astype(float)
data

,DC024,DC025,DC205,DC220,DC226,DC230a,DC232b,DC235,DC237,DC237a,DC237b,DC237c,DC237d,DC237f,DC241,DC244,DC246,DC252,DC109
0,-0.345183,0.804269,0.020271,-1.511432,-0.380114,-0.540280,-0.100222,-0.374981,-1.907537,-1.800704,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,1.117569,1.112124,-0.212137,0.226329
1,-0.345183,-1.243364,-0.664806,-0.509973,-0.380114,-0.540280,-0.100222,-1.647229,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,-0.981697,-0.995504,-0.212137,-0.646075
2,1.241954,0.804269,-0.664806,-0.201832,-0.380114,-0.540280,-0.100222,0.897267,-1.907537,-1.800704,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,-0.981697,1.112124,2.447255,-0.646075
3,1.160563,-1.243364,-0.664806,-0.201832,-0.380114,-0.540280,-0.100222,0.897267,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,1.117569,-0.995504,-1.098601,-0.646075
4,1.323346,0.804269,-0.664806,-0.124797,-0.380114,-0.540280,-0.100222,-1.647229,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,1.117569,1.112124,-0.212137,-0.646075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,0.875692,0.804269,-0.664806,-0.972185,-0.380114,-0.540280,-0.100222,-1.647229,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,-0.981697,-0.995504,-1.098601,-0.646075
11986,0.712909,0.804269,-0.664806,-0.432938,-0.380114,0.872241,-0.100222,-0.374981,0.498557,0.534891,-0.092632,-0.296939,-0.120766,1.773327,-0.419199,1.117569,-0.995504,-1.098601,-0.646075
11987,1.241954,-1.243364,-0.664806,-0.278867,-0.035449,-0.540280,-0.100222,-0.374981,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,-0.981697,-0.995504,-0.212137,-0.646075
11988,1.241954,0.804269,1.938485,-2.204750,0.309216,-0.540280,-0.100222,0.897267,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,-0.981697,1.112124,-0.212137,2.843540
11989,1.526825,-1.243364,-0.664806,0.260380,-0.035449,-0.540280,-0.100222,0.897267,0.498557,0.534891,-0.092632,-0.296939,-0.120766,-0.586430,-0.419199,-0.981697,-0.995504,-0.212137,-0.646075

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11990 entries, 0 to 11989
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DC024   11990 non-null  float64
 1   DC025   11990 non-null  float64
 2   DC205   11990 non-null  float64
 3   DC220   11990 non-null  float64
 4   DC226   11990 non-null  float64
 5   DC230a  11990 non-null  float64
 6   DC232b  11990 non-null  float64
 7   DC235   11990 non-null  float64
 8   DC237   11990 non-null  float64
 9   DC237a  11990 non-null  float64
 10  DC237b  11990 non-null  float64
 11  DC237c  11990 non-null  float64
 12  DC237d  11990 non-null  float64
 13  DC237f  11990 non-null  float64
 14  DC241   11990 non-null  float64
 15  DC244   11990 non-null  float64
 16  DC246   11990 non-null  float64
 17  DC252   11990 non-null  float64
 18  DC109   11990 non-null  float64
dtypes: float64(19)
memory usage: 1.7 MB

In [17]:
predict=loaded_model.predict(data)
predict

array([0, 0, 0, ..., 0, 0, 0])

In [19]:
submission=pd.read_csv('../data/sample_submission.csv')
submission['DC201']=predict
submission

          id  DC201
0      26718      0
1      26802      0
2      41302      0
3      38698      0
4      44257      0
...      ...    ...
11985  36943      0
11986  33415      0
11987  41998      0
11988  41567      0
11989  45296      0

[11990 rows x 2 columns]

### Model 7

In [10]:
submission['DC201'].value_counts()

DC201
0    11484
1      506
Name: count, dtype: int64

In [11]:
submission['DC201']=submission['DC201'].apply(lambda x:'Layak Minum' if x==0 else 'Tidak Layak Minum')
submission

          id        DC201
0      26718  Layak Minum
1      26802  Layak Minum
2      41302  Layak Minum
3      38698  Layak Minum
4      44257  Layak Minum
...      ...          ...
11985  36943  Layak Minum
11986  33415  Layak Minum
11987  41998  Layak Minum
11988  41567  Layak Minum
11989  45296  Layak Minum

[11990 rows x 2 columns]

In [12]:
submission.to_csv('Submission_7.csv',index=False)

### Submission 6

In [20]:
submission['DC201'].value_counts()

DC201
0    11461
1      529
Name: count, dtype: int64

In [21]:
submission['DC201']=submission['DC201'].apply(lambda x:'Layak Minum' if x==0 else 'Tidak Layak Minum')
submission

          id        DC201
0      26718  Layak Minum
1      26802  Layak Minum
2      41302  Layak Minum
3      38698  Layak Minum
4      44257  Layak Minum
...      ...          ...
11985  36943  Layak Minum
11986  33415  Layak Minum
11987  41998  Layak Minum
11988  41567  Layak Minum
11989  45296  Layak Minum

[11990 rows x 2 columns]

In [22]:
submission.to_csv('Submission_6.csv',index=False)

#### Submission 5 model terbaik per 16/05

In [8]:
submission['DC201'].value_counts()

DC201
0    11427
1      563
Name: count, dtype: int64

In [12]:
submission['DC201'].value_counts()

DC201
0    11427
1      563
Name: count, dtype: int64

In [13]:
submission['DC201'].value_counts()

DC201
0    11418
1      572
Name: count, dtype: int64

In [15]:
submission['DC201'].value_counts()

DC201
0    11428
1      562
Name: count, dtype: int64

In [18]:
# submit terbaik dengan data selected
submission['DC201'].value_counts()

DC201
0    11405
1      585
Name: count, dtype: int64

In [9]:
submission['DC201']=submission['DC201'].apply(lambda x:'Layak Minum' if x==0 else 'Tidak Layak Minum')
submission

          id        DC201
0      26718  Layak Minum
1      26802  Layak Minum
2      41302  Layak Minum
3      38698  Layak Minum
4      44257  Layak Minum
...      ...          ...
11985  36943  Layak Minum
11986  33415  Layak Minum
11987  41998  Layak Minum
11988  41567  Layak Minum
11989  45296  Layak Minum

[11990 rows x 2 columns]

## hasil terbaik

In [10]:
submission['DC201'].value_counts()

DC201
Layak Minum          11427
Tidak Layak Minum      563
Name: count, dtype: int64

In [11]:
submission.to_csv('Submission_5.csv',index=False)

In [16]:
sub=pd.read_csv('../Submission/Submission_4.csv')
sub['DC201'].value_counts()

DC201
0    11418
1      572
Name: count, dtype: int64