## Import all needed libraries

In [34]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [35]:
data=pd.read_csv('../data/train.csv')
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

## Explore data

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35973 non-null  int64
 1   DC024   35973 non-null  int64
 2   DC025   35973 non-null  int64
 3   DC205   35962 non-null  float64
 4   DC206   35952 non-null  float64
 5   DC207   35929 non-null  float64
 6   DC208   35960 non-null  float64
 7   DC209   35955 non-null  float64
 8   DC210   35932 non-null  float64
 9   DC211   35949 non-null  float64
 10  DC212   35949 non-null  float64
 11  DC213   35896 non-null  float64
 12  DC214   35964 non-null  float64
 13  DC215   35959 non-null  float64
 14  DC216   35934 non-null  float64
 15  DC217   35973 non-null  int64
 16  DC219   35973 non-null  int64
 17  DC220   35969 non-null  float64
 18  DC226   35967 non-null  float64
 19  DC230a  35962 non-null  float64
 20  DC230b  32964 non-null  float64
 21  DC232   32949 non-null  float64
 22  DC232b  32949 non-null  float64
 23  DC235   25527 non-null  float64
 24  DC237   35952 non-null  float64
 25  DC237a  35936 non-null  float64
 26  DC237b  35936 non-null  float64
 27  DC237c  35936 non-null  float64
 28  DC237d  35936 non-null  float64
 29  DC237e  35936 non-null  float64
 30  DC237f  35936 non-null  float64
 31  DC241   35361 non-null  float64
 32  DC242   30599 non-null  float64
 33  DC244   35969 non-null  float64
 34  DC246   35964 non-null  float64
 35  DC252   35959 non-null  float64
 36  DC270a  35973 non-null  int64
 37  DC109   35962 non-null  float64
 38  DC142a  35921 non-null  float64
 39  DC201   35970 non-null  object
dtypes: float64(33), int64(6), object(1)
memory usage: 11.0+ MB

In [37]:
data['DC201']=data['DC201'].apply(lambda x: 1 if x=='Layak Minum' else 0)
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,1
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,1
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1

### Calculate the rasio of the target label

In [38]:
data['DC201'].value_counts()

DC201
1    32398
0     3575
Name: count, dtype: int64

### From this rasio, we know that the data is imbalance. So we need to balance the data for better learning experience. Before that, data must be
- Filled the null value
- Do some transformation in some attribute

### Fill the null value in each attribute

In [39]:
def fillData(data:pd.Series,method:str):
    if method=='mean':
        mean=data.mean()
        data=data.fillna(mean)
    elif method=='median':
        median=data.median()
        data.fillna(median)
    else:
        mode=data.mode()[0]
        data.fillna(mode,inplace=True)
    return data

### Get all null value in attribute

In [40]:
# Check Nan/Null Value and then store it in list of tuple
null=data.isnull().sum().to_dict()
null_column=[(key,value) for key,value in null.items() if value>0]
null_column

[('DC205', 11),
 ('DC206', 21),
 ('DC207', 44),
 ('DC208', 13),
 ('DC209', 18),
 ('DC210', 41),
 ('DC211', 24),
 ('DC212', 24),
 ('DC213', 77),
 ('DC214', 9),
 ('DC215', 14),
 ('DC216', 39),
 ('DC220', 4),
 ('DC226', 6),
 ('DC230a', 11),
 ('DC230b', 3009),
 ('DC232', 3024),
 ('DC232b', 3024),
 ('DC235', 10446),
 ('DC237', 21),
 ('DC237a', 37),
 ('DC237b', 37),
 ('DC237c', 37),
 ('DC237d', 37),
 ('DC237e', 37),
 ('DC237f', 37),
 ('DC241', 612),
 ('DC242', 5374),
 ('DC244', 4),
 ('DC246', 9),
 ('DC252', 14),
 ('DC109', 11),
 ('DC142a', 52)]

### Test sample of filling null atribute

In [41]:
import random
random.seed(42)

# Get random index
rand_idx=random.randint(0,len(null_column))

# Get column and jumlah null
column,null=null_column[rand_idx]
method='mode'
# apply function to null column
temp_data=fillData(data=data[column],method=method)
print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {temp_data.isnull().sum()}\n')

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

### Apply function to all attribute

In [42]:
# Iterasi column yang memiliki null value
method='mode'
for item in null_column:
    column,null=item
    # apply function to null column
    data[column]=fillData(data=data[column],method=method)
    print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {data[column].isnull().sum()}\n')

Null column DC205 before filling : 11
Null column DC205 after filling  mode : 0

Null column DC206 before filling : 21
Null column DC206 after filling  mode : 0

Null column DC207 before filling : 44
Null column DC207 after filling  mode : 0

Null column DC208 before filling : 13
Null column DC208 after filling  mode : 0

Null column DC209 before filling : 18
Null column DC209 after filling  mode : 0

Null column DC210 before filling : 41
Null column DC210 after filling  mode : 0

Null column DC211 before filling : 24
Null column DC211 after filling  mode : 0

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

Null column DC213 before filling : 77
Null column DC213 after filling  mode : 0

Null column DC214 before filling : 9
Null column DC214 after filling  mode : 0

Null column DC215 before filling : 14
Null column DC215 after filling  mode : 0

Null column DC216 before filling : 39
Null column DC216 after filling  mode : 0

Null column DC220 before filling : 4
Null column DC220 after filling  mode : 0

Null column DC226 before filling : 6
Null column DC226 after filling  mode : 0

Null column DC230a before filling : 11
Null column DC230a after filling  mode : 0

Null column DC230b before filling : 3009
Null column DC230b after filling  mode : 0

Null column DC232 before filling : 3024
Null column DC232 after filling  mode : 0

Null column DC232b before filling : 3024
Null column DC232b after filling  mode : 0

Null column DC235 before filling : 10446
Null column DC235 after filling  mode : 0

Null column DC237 before filling : 21
Null column DC237 after filling  mode : 0

Null column DC237a before filling : 37
Null column DC237a after filling  mode : 0

Null column DC237b before filling : 37
Null column DC237b after filling  mode : 0

Null column DC237c before filling : 37
Null column DC237c after filling  mode : 0

Null column DC237d before filling : 37
Null column DC237d after filling  mode : 0

Null column DC237e before filling : 37
Null column DC237e after filling  mode : 0

Null column DC237f before filling : 37
Null column DC237f after filling  mode : 0

Null column DC241 before filling : 612
Null column DC241 after filling  mode : 0

Null column DC242 before filling : 5374
Null column DC242 after filling  mode : 0

Null column DC244 before filling : 4
Null column DC244 after filling  mode : 0

Null column DC246 before filling : 9
Null column DC246 after filling  mode : 0

Null column DC252 before filling : 14
Null column DC252 after filling  mode : 0

Null column DC109 before filling : 11
Null column DC109 after filling  mode : 0

Null column DC142a before filling : 52
Null column DC142a after filling  mode : 0

### Check again all of the attribute

In [43]:
data.isnull().sum()

id        0
DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
DC201     0
dtype: int64

### Transform data into a float

In [44]:
data=data.astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35973 non-null  float64
 1   DC024   35973 non-null  float64
 2   DC025   35973 non-null  float64
 3   DC205   35973 non-null  float64
 4   DC206   35973 non-null  float64
 5   DC207   35973 non-null  float64
 6   DC208   35973 non-null  float64
 7   DC209   35973 non-null  float64
 8   DC210   35973 non-null  float64
 9   DC211   35973 non-null  float64
 10  DC212   35973 non-null  float64
 11  DC213   35973 non-null  float64
 12  DC214   35973 non-null  float64
 13  DC215   35973 non-null  float64
 14  DC216   35973 non-null  float64
 15  DC217   35973 non-null  float64
 16  DC219   35973 non-null  float64
 17  DC220   35973 non-null  float64
 18  DC226   35973 non-null  float64
 19  DC230a  35973 non-null  float64
 20  DC230b  35973 non-null  float64
 21  DC232   35973 non-null  float64
 22  DC232b  35973 non-null  float64
 23  DC235   35973 non-null  float64
 24  DC237   35973 non-null  float64
 25  DC237a  35973 non-null  float64
 26  DC237b  35973 non-null  float64
 27  DC237c  35973 non-null  float64
 28  DC237d  35973 non-null  float64
 29  DC237e  35973 non-null  float64
 30  DC237f  35973 non-null  float64
 31  DC241   35973 non-null  float64
 32  DC242   35973 non-null  float64
 33  DC244   35973 non-null  float64
 34  DC246   35973 non-null  float64
 35  DC252   35973 non-null  float64
 36  DC270a  35973 non-null  float64
 37  DC109   35973 non-null  float64
 38  DC142a  35973 non-null  float64
 39  DC201   35973 non-null  float64
dtypes: float64(40)
memory usage: 11.0 MB

In [45]:
# Drop id from the data
data=data.drop('id',axis=1)
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.0,2.0,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1.0,12.0,60.0,1.0
1,11.0,2.0,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2.0,31.0,70.0,1.0
2,11.0,2.0,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4.0,11.0,75.0,1.0
3,11.0,2.0,12.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,2.0,1.0,1.0,0.0,1.0,1.0,11.0,85.0,1.0
4,11.0,2.0,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2.0,11.0,65.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,94.0,1.0,17.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1.0,21.0,9.0,1.0
35969,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,11.0,12.0,1.0
35970,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,11.0,48.0,1.0
35971,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,11.0,39.0,1.0
35972,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3.0,11.0,40.0,1.0

### Do oversampling to cover the unbalance target data

In [46]:
from imblearn.over_sampling import SMOTE

oversampling=SMOTE(sampling_strategy='auto',random_state=42)

X,y=oversampling.fit_resample(data.drop('DC201',axis=1),data['DC201'])
data=X
data['DC201']=y
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.000000,2.000000,16.000000,1.000000,0.00000,1.000000,0.0,0.0,0.000000,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,2.000000,1.000000,12.000000,60.000000,1.0
1,11.000000,2.000000,31.000000,1.000000,0.00000,1.000000,0.0,0.0,1.000000,0.0,...,0.000000,1.000000,0.0,1.0,1.000000,1.000000,2.000000,31.000000,70.000000,1.0
2,11.000000,2.000000,12.000000,1.000000,0.00000,1.000000,1.0,1.0,1.000000,0.0,...,0.000000,1.000000,0.0,1.0,1.000000,0.000000,4.000000,11.000000,75.000000,1.0
3,11.000000,2.000000,12.000000,1.000000,0.00000,0.000000,0.0,0.0,1.000000,0.0,...,0.000000,2.000000,1.0,1.0,0.000000,1.000000,1.000000,11.000000,85.000000,1.0
4,11.000000,2.000000,12.000000,1.000000,0.00000,1.000000,1.0,0.0,0.000000,0.0,...,0.000000,1.000000,0.0,0.0,1.000000,0.000000,2.000000,11.000000,65.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,57.837538,2.000000,12.000000,1.000000,0.00000,0.604692,0.0,0.0,0.395308,0.0,...,0.000000,1.395308,1.0,0.0,0.395308,1.581231,1.000000,11.000000,33.581231,0.0
64792,53.000000,2.000000,12.215262,1.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,2.000000,1.0,1.0,1.000000,2.892369,1.000000,11.053816,63.892369,0.0
64793,35.276362,2.000000,17.000000,1.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,1.000000,1.0,1.0,1.000000,3.170914,1.000000,21.000000,61.578206,0.0
64794,33.813809,1.546548,17.000000,0.546548,0.00000,0.453452,0.0,0.0,0.546548,0.0,...,0.453452,1.000000,1.0,0.0,0.546548,1.000000,1.546548,21.000000,51.279287,0.0
64795,52.366880,1.366880,12.000000,1.000000,0.63312,0.366880,0.0,0.0,0.000000,0.0,...,0.000000,2.633120,1.0,0.0,1.000000,2.100641,1.000000,11.000000,44.201282,0.0

In [47]:
data['DC201'].value_counts()

DC201
1.0    32398
0.0    32398
Name: count, dtype: int64

### The target data are balanced. The next step is finding the relevant feature with some technique:
- Correlation
- Feature Importance (XGBOOST)
- PCA (Principal Component Analysis)

In [52]:
import xgboost as xgb
def selectAttribute(data:pd.DataFrame,method:str,threshold:float=0.0):
    if method=='xgb':
        X=data.drop('DC201',axis=1)
        y=data['DC201']
        # Buat instance model XGBoost
        model = xgb.XGBClassifier()
        # Latih model dengan data
        model.fit(X, y) 
        # Dapatkan skor pentingnya fitur
        importance = model.feature_importances_
        column=data.columns[:-1]
        results={}
        i=0
        for col in column:
            results[col]=importance[i]
            i+=1
        return results
    
    else :
        #Correlation with output variable
        corr=data.corr()
        cor_target = (corr["DC201"])
        #  Selecting highly correlated features
        relevant_features = cor_target[cor_target>0]
        selected=relevant_features.keys()
        print(relevant_features)
        return selected

### Search relevant feature using XGBoost

In [39]:
results=selectAttribute(data=data,method='xgb',threshold=0)
# Sort the dictionary by value
results = dict(sorted(results.items(), key=lambda x: x[1],reverse=True))
results

{'DC025': 0.27732322,
 'DC237': 0.07842537,
 'DC244': 0.07711078,
 'DC270a': 0.075930506,
 'DC237f': 0.0681659,
 'DC237a': 0.057363223,
 'DC246': 0.048936553,
 'DC210': 0.044286538,
 'DC209': 0.029326113,
 'DC211': 0.021611162,
 'DC230a': 0.020099124,
 'DC252': 0.016937,
 'DC235': 0.016593786,
 'DC237b': 0.013713613,
 'DC232': 0.013651059,
 'DC219': 0.012212538,
 'DC217': 0.012029444,
 'DC205': 0.011050325,
 'DC216': 0.0104180435,
 'DC206': 0.010391352,
 'DC208': 0.010371889,
 'DC213': 0.007074738,
 'DC237c': 0.0070444886,
 'DC242': 0.006826003,
 'DC241': 0.0063612503,
 'DC024': 0.0059265383,
 'DC207': 0.005527214,
 'DC237d': 0.0053794994,
 'DC226': 0.005061724,
 'DC230b': 0.00491929,
 'DC214': 0.0039466023,
 'DC109': 0.0038104015,
 'DC232b': 0.0035496121,
 'DC215': 0.0033880475,
 'DC142a': 0.0017267633,
 'DC220': 0.0016889186,
 'DC212': 0.0013089811,
 'DC237e': 0.0005123061}

### Select importance feature using correlation

In [57]:
results=selectAttribute(data=data,method='default',threshold=0)

DC206     0.208490
DC207     0.120437
DC208     0.282481
DC209     0.372238
DC210     0.204893
DC211     0.208604
DC212     0.218088
DC213     0.183703
DC214     0.018764
DC215     0.169271
DC216     0.144837
DC217     0.024787
DC230b    0.121159
DC232     0.148451
DC237e    0.013354
DC242     0.022379
DC270a    0.417805
DC142a    0.137897
DC201     1.000000
Name: DC201, dtype: float64

## Save the data

In [41]:
 data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.000000,2.000000,16.000000,1.000000,0.00000,1.000000,0.0,0.0,0.000000,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,2.000000,1.000000,12.000000,60.000000,1.0
1,11.000000,2.000000,31.000000,1.000000,0.00000,1.000000,0.0,0.0,1.000000,0.0,...,0.000000,1.000000,0.0,1.0,1.000000,1.000000,2.000000,31.000000,70.000000,1.0
2,11.000000,2.000000,12.000000,1.000000,0.00000,1.000000,1.0,1.0,1.000000,0.0,...,0.000000,1.000000,0.0,1.0,1.000000,0.000000,4.000000,11.000000,75.000000,1.0
3,11.000000,2.000000,12.000000,1.000000,0.00000,0.000000,0.0,0.0,1.000000,0.0,...,0.000000,2.000000,1.0,1.0,0.000000,1.000000,1.000000,11.000000,85.000000,1.0
4,11.000000,2.000000,12.000000,1.000000,0.00000,1.000000,1.0,0.0,0.000000,0.0,...,0.000000,1.000000,0.0,0.0,1.000000,0.000000,2.000000,11.000000,65.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,57.837538,2.000000,12.000000,1.000000,0.00000,0.604692,0.0,0.0,0.395308,0.0,...,0.000000,1.395308,1.0,0.0,0.395308,1.581231,1.000000,11.000000,33.581231,0.0
64792,53.000000,2.000000,12.215262,1.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,2.000000,1.0,1.0,1.000000,2.892369,1.000000,11.053816,63.892369,0.0
64793,35.276362,2.000000,17.000000,1.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,1.000000,1.0,1.0,1.000000,3.170914,1.000000,21.000000,61.578206,0.0
64794,33.813809,1.546548,17.000000,0.546548,0.00000,0.453452,0.0,0.0,0.546548,0.0,...,0.453452,1.000000,1.0,0.0,0.546548,1.000000,1.546548,21.000000,51.279287,0.0
64795,52.366880,1.366880,12.000000,1.000000,0.63312,0.366880,0.0,0.0,0.000000,0.0,...,0.000000,2.633120,1.0,0.0,1.000000,2.100641,1.000000,11.000000,44.201282,0.0

In [43]:
data.to_csv('./train.csv',index=False)

### Apply scaler and Feature Importance

In [18]:
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.000000,2.000000,16.000000,1.000000,0.00000,1.000000,0.0,0.0,0.000000,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,2.000000,1.000000,12.000000,60.000000,1.0
1,11.000000,2.000000,31.000000,1.000000,0.00000,1.000000,0.0,0.0,1.000000,0.0,...,0.000000,1.000000,0.0,1.0,1.000000,1.000000,2.000000,31.000000,70.000000,1.0
2,11.000000,2.000000,12.000000,1.000000,0.00000,1.000000,1.0,1.0,1.000000,0.0,...,0.000000,1.000000,0.0,1.0,1.000000,0.000000,4.000000,11.000000,75.000000,1.0
3,11.000000,2.000000,12.000000,1.000000,0.00000,0.000000,0.0,0.0,1.000000,0.0,...,0.000000,2.000000,1.0,1.0,0.000000,1.000000,1.000000,11.000000,85.000000,1.0
4,11.000000,2.000000,12.000000,1.000000,0.00000,1.000000,1.0,0.0,0.000000,0.0,...,0.000000,1.000000,0.0,0.0,1.000000,0.000000,2.000000,11.000000,65.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,57.837538,2.000000,12.000000,1.000000,0.00000,0.604692,0.0,0.0,0.395308,0.0,...,0.000000,1.395308,1.0,0.0,0.395308,1.581231,1.000000,11.000000,33.581231,0.0
64792,53.000000,2.000000,12.215262,1.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,2.000000,1.0,1.0,1.000000,2.892369,1.000000,11.053816,63.892369,0.0
64793,35.276362,2.000000,17.000000,1.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,1.000000,1.0,1.0,1.000000,3.170914,1.000000,21.000000,61.578206,0.0
64794,33.813809,1.546548,17.000000,0.546548,0.00000,0.453452,0.0,0.0,0.546548,0.0,...,0.453452,1.000000,1.0,0.0,0.546548,1.000000,1.546548,21.000000,51.279287,0.0
64795,52.366880,1.366880,12.000000,1.000000,0.63312,0.366880,0.0,0.0,0.000000,0.0,...,0.000000,2.633120,1.0,0.0,1.000000,2.100641,1.000000,11.000000,44.201282,0.0

### Open the test data for scaling

In [21]:
test=pd.read_csv('../data/test.csv').astype(float)
test=test.drop('id',axis=1)
test

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,35.0,2.0,17.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,21.0,52.0
1,35.0,1.0,12.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,11.0,18.0
2,74.0,2.0,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,4.0,5.0,11.0,78.0
3,72.0,1.0,12.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,11.0,20.0
4,76.0,2.0,12.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,11.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,65.0,2.0,12.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,11.0,70.0
11986,61.0,2.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4.0,11.0,120.0
11987,74.0,1.0,12.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,11.0,72.0
11988,74.0,2.0,31.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,51.0,9.0
11989,81.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,11.0,96.0

In [22]:
from sklearn.preprocessing import StandardScaler

# Membuat instance scaler
scaler = StandardScaler()

# Melakukan scaling pada data train
X_train_scaled = scaler.fit_transform(data.drop('DC201',axis=1))
# Melakukan scaling pada data test menggunakan parameter yang sama dengan data train
X_test_scaled = scaler.transform(test)

In [62]:
scaled_df = pd.DataFrame(X_train_scaled, columns=data.columns[:-1])
scaled_df['DC201']=data['DC201']
scaled_df

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,-1.338185,0.772343,-0.150635,0.325938,-0.454443,0.607007,-0.903250,-0.621055,-1.579856,-0.311428,...,-0.614176,-0.461643,-2.530719,-1.026253,-1.034054,0.693051,-0.933069,-0.569320,-0.167848,1.0
1,-1.338185,0.772343,1.759244,0.325938,-0.454443,0.607007,-0.903250,-0.621055,0.720272,-0.311428,...,-0.614176,-0.461643,-2.530719,1.107748,1.109230,-0.210963,-0.187564,0.981026,-0.044753,1.0
2,-1.338185,0.772343,-0.659936,0.325938,-0.454443,0.607007,1.204972,1.785551,0.720272,-0.311428,...,-0.614176,-0.461643,-2.530719,1.107748,1.109230,-1.114978,1.303446,-0.650917,0.016794,1.0
3,-1.338185,0.772343,-0.659936,0.325938,-0.454443,-1.886822,-0.903250,-0.621055,0.720272,-0.311428,...,-0.614176,1.631018,0.458197,1.107748,-1.034054,-0.210963,-0.933069,-0.650917,0.139889,1.0
4,-1.338185,0.772343,-0.659936,0.325938,-0.454443,0.607007,1.204972,-0.621055,-1.579856,-0.311428,...,-0.614176,-0.461643,-2.530719,-1.026253,1.109230,-1.114978,-0.187564,-0.650917,-0.106301,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,0.555210,0.772343,-0.659936,0.325938,-0.454443,-0.378823,-0.903250,-0.621055,-0.670597,-0.311428,...,-0.614176,0.365602,0.458197,-1.026253,-0.186797,0.314478,-0.933069,-0.650917,-0.493049,0.0
64792,0.359654,0.772343,-0.632528,0.325938,-0.454443,-1.886822,-0.903250,-0.621055,-1.579856,-0.311428,...,-0.614176,1.631018,0.458197,1.107748,1.109230,1.499766,-0.933069,-0.646526,-0.119935,0.0
64793,-0.356819,0.772343,-0.023310,0.325938,-0.454443,-1.886822,-0.903250,-0.621055,-1.579856,-0.311428,...,-0.614176,-0.461643,0.458197,1.107748,1.109230,1.751574,-0.933069,0.165054,-0.148421,0.0
64794,-0.415943,-0.206282,-0.023310,-1.486484,-0.454443,-0.755990,-0.903250,-0.621055,-0.322726,-0.311428,...,0.474375,-0.461643,0.458197,-1.026253,0.137354,-0.210963,-0.525615,0.165054,-0.275195,0.0
64795,0.334060,-0.594035,-0.659936,0.325938,1.392361,-0.971885,-0.903250,-0.621055,-1.579856,-0.311428,...,-0.614176,2.955923,0.458197,-1.026253,1.109230,0.784032,-0.933069,-0.650917,-0.362322,0.0

In [63]:
scaled_df.to_csv('train_scaled.csv',index=False)

In [65]:
scaled_df_test= pd.DataFrame(X_test_scaled, columns=test.columns)
scaled_df_test

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,-0.367991,0.772343,-0.023310,0.325938,-0.454443,0.607007,-0.903250,1.785551,0.720272,-0.311428,...,-0.01824,-0.614176,-0.461643,0.458197,1.107748,1.109230,-0.210963,0.557941,0.165054,-0.266324
1,-0.367991,-1.385824,-0.659936,0.325938,2.462547,0.607007,1.204972,-0.621055,0.720272,-0.311428,...,-0.01824,-0.614176,-0.461643,0.458197,-1.026253,-1.034054,-0.210963,-0.187564,-0.650917,-0.684846
2,1.208574,0.772343,-0.659936,0.325938,-0.454443,0.607007,1.204972,1.785551,0.720272,-0.311428,...,-0.01824,-0.614176,-0.461643,-2.530719,-1.026253,1.109230,2.501080,2.048951,-0.650917,0.053723
3,1.127724,-1.385824,-0.659936,0.325938,2.462547,-1.886822,-0.903250,-0.621055,-1.579856,3.358929,...,-0.01824,-0.614176,-0.461643,-2.530719,1.107748,-1.034054,-1.114978,-0.933069,-0.650917,-0.660227
4,1.289423,0.772343,-0.659936,0.325938,-0.454443,0.607007,-0.903250,-0.621055,0.720272,-0.311428,...,-0.01824,-0.614176,-0.461643,0.458197,1.107748,1.109230,-0.210963,0.557941,-0.650917,0.632268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,0.844751,0.772343,-0.659936,0.325938,-0.454443,0.607007,-0.903250,-0.621055,0.720272,3.358929,...,-0.01824,-0.614176,-0.461643,-2.530719,-1.026253,-1.034054,-1.114978,1.303446,-0.650917,-0.044753
11986,0.683052,0.772343,-0.659936,0.325938,-0.454443,0.607007,1.204972,-0.621055,0.720272,-0.311428,...,-0.01824,1.786410,-0.461643,0.458197,1.107748,-1.034054,-1.114978,1.303446,-0.650917,0.570720
11987,1.208574,-1.385824,-0.659936,0.325938,2.462547,0.607007,1.204972,-0.621055,0.720272,-0.311428,...,-0.01824,-0.614176,-0.461643,0.458197,-1.026253,-1.034054,-0.210963,-0.187564,-0.650917,-0.020134
11988,1.208574,0.772343,1.759244,-3.671004,-0.454443,-1.886822,-0.903250,-0.621055,0.720272,-0.311428,...,-0.01824,-0.614176,-0.461643,-2.530719,-1.026253,1.109230,-0.210963,-0.933069,2.612968,-0.795631
11989,1.491547,-1.385824,-0.659936,0.325938,-0.454443,0.607007,1.204972,-0.621055,-1.579856,-0.311428,...,-0.01824,-0.614176,-0.461643,0.458197,-1.026253,-1.034054,-0.210963,-0.187564,-0.650917,0.275293

In [66]:
scaled_df_test.to_csv('test_scaled.csv',index=False)